
*, *:after, *:before {
    box-sizing: border-box;
}

:root {
    --theme-color: #fbbf24;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 1500px;
    width: 100vw;
    
    display: flex;
    margin: 0px;
    padding: 0px;
    color: white;
}


.container {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;

}


/*******************************************************************/
/********************** sidebar section ****************************/

.sidebar {
    background-color: black;
    
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 1.5rem;
    padding-top: 20px;

}

.sidebar div {
    width: 100%;
}

.sidebar > .logo-container {

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: start;
    padding: 0px 25px;
    gap: 10px;
    font-size: 2rem;
}

.sidebar .logo-container img {
    width: 100px;
    height: auto;
}

.sidebar-svg {
    width: 30px;
    height: auto;
}

svg {
    width: 20px;
    fill: white;
}

.sidebar-button {
    width: 100%;
    background: transparent;
    color: white;
    font-size: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 40px;
    border: none;

    display: flex;
    gap: 20px;
}

/*******************************************************************/
/******************Main content section ****************************/
.main-content-area {
    background-color: #27272a;
}


/********************** nav section ********************************/

.header {
    width: 100%;
    height: 20%;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.account-icon {
    border-radius: 50%;
    width: auto;
    height: 60px;
}

.header > .nav {
    display: flex;
    height: 30%;
    justify-content: space-between;
}

.nav-left, .nav-right {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-weight: 900px;
    font-size: 1.5rem;
}

.nav-right {
    gap: 50px;
    justify-content: end;
}

.nav-left input {
    border-radius: 35px;
    width: 90%;
    height: 40%;
    padding: 10px 20px;
    font-size: 1.5rem;
}
.nav-svg {
    height: auto;
    width: 4%;
}

/************************ Greet section ****************************/

.account-icon-greet {
    border-radius: 50%;
    width: auto;
    height: 120px;
}

.greeting {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greeting-left,
.greeting-right{
    display: flex;
    align-items: center;
    gap: 25px;
}

.greeting-left div p{
    font-size: 1.5rem;
    margin: 5px auto;
}

.greeting-left div p:last-child{
    font-weight: bold;
}

.greeting-right {
    gap: 70px;
}

.greet-button {
    width: 7rem;
    border-radius: 35px;
    padding: 10px 20px;
    font-size: 1.25rem;
    color: white;
    font-weight: bold;
    background-color: red;
}



/*******************************************************************/
/****************** Dashboard content section **********************/

/****************** Main content ***********************************/

.dashboard-content {
    padding: 10px 50px;

    height: 80%;
    width: 100%;
    margin: 0px;
    background-color: #525252;

    display: grid;
    grid-template-columns: 4fr 1fr;
}

.dashboard-heading {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    color: var(--theme-color);
}

.project-grid {

    padding-right: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.project-items {
    position: relative;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-items::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 100%;
    background-color: var(--theme-color);
    border-radius: 10px 0 0 10px;
}

.sub-heading {
    font-size: 1.75rem;
    font-weight: bold;
}

.item-content {
    font-size: 1.25rem;
}

.project-icons {
    display: flex;
    justify-content: end;
    gap: 10px;
}

svg.project-svg {
    fill: black;
    width: 30px;
    height: auto;
}

svg.project-svg:hover {
    transform: translate(-5%, -6%);
}

/****************** Side note ***********************/

/** announcement **/

.announcements {
    display: grid;
    grid-auto-flow: row;
    border-radius: 10px;
    background-color: white;
    border-radius: 2px solid white;
    padding: 20px 30px;
}

.aitem {
    font-size:0.75rem; 
    color: black;
}

.aitem-header {
    font-weight: bold;
    font-size: 1rem;
}

/** Trending **/

.trending {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px 30px;
    background-color: white;
    gap: 30px;
}

.t-item {
    color: black;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 7px;
}

.t-item div p {
    margin: 0px;
}
.t-image {
    border-radius: 50%;
    height: auto;
    width: 60px;
}